<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>4.0</string>
	<key>ContentIdentifier</key>
	<string>me.yashmulki.microcotrollers</string>
	<key>ContentVersion</key>
	<string>1.0.0</string>
	<key>DevelopmentRegion</key>
	<string>en-US</string>
	<key>DeploymentTarget</key>
	<string>ios12.0</string>
	<key>SwiftVersion</key>
	<string>4.2</string>
	<key>Name</key>
	<string>Microcontrollers</string>
	<key>UserModuleMode</key>
	<string>Disabled</string>
	<key>ImageReference</key>
	<string>Cover.png</string>
	<key>Chapters</key>
	<array>
		<string>Introduction.playgroundchapter</string>
		<string>Practical.playgroundchapter</string>
		<string>Conclusion.playgroundchapter</string>
	</array>
</dict>
</plist>
